.DS_Store
*/.DS_Store
*/Icon*
README.html
MockMain/pipelines/
MockMain/dist/
*NOT_IN_GIT*
**/downloads/**
**/pipelines/**
.Rhistory
test/feature/buildDocs/output/*
test/feature/unusedProps/output/*
test/bash/output/*
test/bash/output-api/*
