
#BioModule biolockj.module.diy.ForEachSample
#BioModule biolockj.module.diy.ForEachFile AS SampleFile
#BioModule biolockj.module.diy.ForEachLevel
#BioModule biolockj.module.diy.ForEachFile AS LevelFile
#BioModule biolockj.module.diy.ForEachLoop
#BioModule biolockj.module.diy.GenMod AS GrabLogs

# this demo pipeline has no input data
pipeline.inputTypes=none

# metadata dictates what sample names are used by ForEachSample
metadata.filePath=./metadata.txt

# configured taxonomy levels dictate the ForEachLevel loop
report.taxonomyLevels=class, order, family, genus

# All of these modules are the "GenMod" module, 
# They all default to looking for the property "genMod.scriptPath=path/to/script"
# Using the modules alias creates form of the property targeting an individual module.
ForEachSample.scriptPath=./script/showSampleMeta.sh
SampleFile.scriptPath=./script/addMetaHeader.sh
ForEachLevel.scriptPath=./script/echoArgs.sh
LevelFile.scriptPath=./script/countChars.sh
ForEachLoop.scriptPath=./script/echoArgs.sh
GrabLogs.scriptPath=./script/grabLogs.sh

# This configurable list dictates the loops for ForEachLoop
ForEachLoop.loopBy=Mars has two moons, Phobos, Deimos

pipeline.defaultProps=./dockerImages.properties

validation.expectationFile=./validation/demo
validation.stopPipeline=Y