
#BioModule biolockj.module.implicit.parser.r16s.RdpHierParser

pipeline.inputTypes=ModuleOutput[RdpClassifier],other
input.dirPaths=./example_input

report.taxonomyLevels=phylum,class,order,genus

pipeline.logLevel=DEBUG

### Validation ###
validation.stopPipeline=Y
validation.expectationFile=./validation/just
