
#BioModule biolockj.module.classifier.r16s.RdpClassifier

pipeline.defaultProps=${SHEP}/dependencies/NOT_IN_GIT_local.properties
#rdp.jar= provided via defaultProps

input.dirPaths=${SHEP}/data_small/input/seq/fq/single_sample/separate_fw_rv/rhizosphere_16S_data/R2/rhizo_R2_subdir_2files 

rdp.hierCounts=Y

input.trimSuffix=_2

pipeline.logLevel=DEBUG

### Validation ###
validation.stopPipeline=Y
validation.expectationFile=./validation/withRdp
validation.sizeWithinPercent=5
validation.compareOn=name,size
