# This pipeline demonstrates the basic example modules in the hello_world package.

#BioModule biolockj.module.hello_world.Step5 AS BasicSteps

#BioModule biolockj.module.diy.GenMod AS LogBasicSteps
LogBasicSteps.codeLine =  cp ../../*BasicSteps/log/0*.log ../output/.

#BioModule biolockj.module.hello_world.Hello_World

#BioModule biolockj.module.diy.GenMod AS LogWorld
LogWorld.codeLine = cp ../../*Hello*/log/*Hello*.log ../output/.

#BioModule biolockj.module.hello_world.Hello_Friends
helloFriends.friendsName = Jean-Luc
helloFriends.excitmentLevel = 3

#BioModule biolockj.module.diy.GenMod AS LogFriends
LogFriends.codeLine = cp ../../*Hello*/log/*Hello*.log ../output/.

#BioModule biolockj.module.diy.GenMod AS OneLine
OneLine.codeLine = echo "Hello world!" > ../output/hello.txt

#BioModule biolockj.module.diy.GenMod AS UseScript
UseScript.scriptPath = ./helloScript.sh

#validation.expectationFile=./validation
validation.stopPipeline = Y
pipeline.inputTypes = none
